/* * {
  outline: 1px solid red;
} */

/* Reset del box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 820px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

header {
  padding: 2px 0 7px;
  background-color: white;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

nav {
  text-align: center;
}

.menu-item {
  display: inline-block;
  padding: 7px;
  margin: 5px 7px;
  color: rgb(13 53 128);
  background-color: rgb(220 236 245);
  border: solid 3px rgb(13 53 128);
  border-radius: 5px;
}

a {
  text-decoration: none;
}

dl {
  max-width: 550px;
  padding: 1rem;
  margin: 0 auto;
  color: rgb(13 53 128);
  background-color: rgb(220 236 245);
  border: 3px solid rgb(29 65 182);
  border-radius: 10px;
}

figure {
  text-align: center;
}

img {
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 1px rgb(6 32 54 / 78%);
}

figcaption {
  margin-top: 10px;
  color: rgb(13 53 128);
}

blockquote {
  padding: 7px;
  margin-bottom: 1rem;
  color: rgb(92 13 13);
  background-color: rgb(255 206 198);
  border: solid 2px rgb(231 113 98);
  border-radius: 10px;
}

footer {
  margin-top: 3rem;
  text-align: center;
}

/*
  ESTILOS POR DEFECTO (Móvil - Menos de 768px)
*/

/* 1. Ocultamos la imágenes de móvil */
.mobile-version {
  display: none;
}

/* 2. Mostramos el contenedor móvil y le damos estilos. */
@media screen and (width <= 768px) {
  .desktop-version {
    display: none;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .mobile-version img {
    max-width: 300px;
    height: auto;
  }
}
